.btn {
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 0 auto;
    cursor: pointer;
}